<!--ユーザー情報-->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100, 100) %>
  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(current_user.id) %></p>
  <% end %>
</div>

<!--ユーザーの投稿一覧-->
<!--部分テンプレートに集約 ここから-->
<!--ここまで-->
<!--ここから~ここまでで切り取った箇所を、部分テンプレートを呼び出し-->
<%= render 'post_images/list.html.erb', post_images: @post_images %>